<div class="menu">
  <p routerLink="." fragment="1" style="cursor: pointer"><b>ID 1</b></p>
  <p routerLink="." fragment="2" style="cursor: pointer"><b>ID 2</b></p>
  <p routerLink="." fragment="3" style="cursor: pointer"><b>ID 3</b></p>
  <p routerLink="." fragment="4" style="cursor: pointer"><b>ID 4</b></p>
  <p routerLink="." fragment="5" style="cursor: pointer"><b>ID 5</b></p>
  <span>
    - Intern search:
    <p (click)="jump(2)" style="cursor: pointer; margin-left: 20px"><b>ID 4</b></p>
  </span>
</div>

<div class="box-text">
  <div *ngFor="let name of names" [attr.id]="name.id">
    <p><b>Nome:</b> {{ name.name }} - <b>ID:</b> {{ name.id }}</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
